html,
body {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
}

canvas {
  display: block;
}

#iframe-container {
  border: 2px dashed black;
  padding: 1px;
  width: 780px;
  height: 860px; /* Adjust as needed */
  border-radius: 1%;
}

#astarFrame,
#dfsFrame {
  width: 100%; /* Make iframe responsive */
  height: 100%; /* Make iframe responsive */
}

input[type="number"] {
  border-radius: 50%;
  border: 2px solid #00334c;
  background-color: #8b8b8b78;
  color: #066aff;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  width: 60px;
  height: 60px;
}

#initializeButton,
#updateGrid {
  border: 0px;
  background-color: transparent;
  font-size: 1.5rem;
  color: rgb(179, 28, 199);
  font-family: cursive;
  text-shadow: 2px 2px 4px #8b8b8bc5;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 15%;
  width: fit-content;
}

#initializeButton:hover,
#updateGrid:hover {
  /* border: 2px solid gray; */
  border-radius: 10px;
  background-color: rgba(1, 169, 169, 0.32);
  color: rgb(173, 11, 173) 0.9;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.9);
  animation: fadeInAnimation 400ms ease-out;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
